<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!--<cors enabled="true" failUnlistedOrigins="true">
			<add origin="*">
				<allowHeaders allowAllRequestedHeaders="true" />
			</add>
		</cors>-->

		<rewrite>
			<rules>
				<clear />
				<rule name="Ignore" enabled="true" stopProcessing="true">
					<match url="^(.*/)(img|css|js|map|json|icons|tests|_redis.php)" />
					<conditions logicalGrouping="MatchAll" />
					<action type="None" />
				</rule>
				<rule name="Main Rule" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUESTFILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUESTFILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<serverVariables />
					<action type="Rewrite" url="public/index.php?_url=/{R:1}" appendQueryString="true" logRewrittenUrl="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
